body {
  background-color: #fefefe;
  color: #333;
  font-family: 'Inter', sans-serif;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background: #fefefe;
}

